blockquote {
	border-left: 3px solid #bbb;
	margin-left: .5em;
	padding: .5em;
}
body {
	overflow: scroll;
}
.main-container {
	font-family: Tahoma;
	padding-bottom: 8em;
	padding-top: 2em;
}
.opa {
	opacity: .5;
}

.nwr {
	white-space: nowrap;
}
.pntr {
	cursor: pointer;
}

.link-dotted{
	cursor: pointer;
	border-bottom: 1px dotted;
}
.link-dotted:hover {
	text-decoration: none;
}

textarea {
	resize: none;
}

.hdn {
	display: none;
}

.btn.btn-material {
	/*position: fixed;
	bottom: 1em;
	right: 1em;*/
	border-radius: 50%;
	width: 2em;
	height: 2em;
	line-height: 1.8em;
	font-size: 2em;
	font-weight: bold;
	padding: 0;
	
	z-index: 777;
}
.btn.btn-round {
	border-radius: 11em;
	height: 2em;
	width: 2em;
	line-height: 1.6em;
	font-size: 2em;
}

/*
	========================================================================================
								Map related common styles
	========================================================================================
	*/
	#map-container {
		background-color: #eee;
		border-radius: 3px;
		min-height: 400px;
	}

	.__fullscreen {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom:0;
		right: 0;
		overflow: hidden;
	}

	.map-ctrl-wrap {
		padding: 1em;
	}

	.map-when-sidebar .map-ctrl-wrap, 
	.map-when-sidebar .gm-bundled-control,
	.map-when-sidebar .gm-style-cc,
	.map-when-sidebar .genre-teaser,
	.map-when-sidebar img[src*="images/google"]	{
		display: none;
	}

/*
	========================================================================================
							ext styles for vuejs-datepicker
	========================================================================================
	*/
	.__datepicker-clear {
		position: absolute;
		top: .5em;
		right: .7em;
		color: #666;
		cursor: pointer;
	}
	.__datepicker-wrap {
		position:relative
	}
	.__datepicker-wrap .form-control[readonly]{ 
		background-color: #fff;
	}
	.__datepicker-wrap-noborder .calendar {
		border-width: 0;
	}

/*
========================================================================================
							Social icons
=======================================================================================
*/

@font-face {
	font-family: 'Socicon';
	src:  url('/fonts/Socicon.eot?3i0ff0');
	src:  url('/fonts/Socicon.eot?3i0ff0#iefix') format('embedded-opentype'),
	url('/fonts/Socicon.woff2?3i0ff0') format('woff2'),
	url('/fonts/Socicon.ttf?3i0ff0') format('truetype'),
	url('/fonts/Socicon.woff?3i0ff0') format('woff'),
	url('/fonts/Socicon.svg?3i0ff0#Socicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.socicon {
	font-family: 'Socicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.socicon-vkontakte:before {
	content: "\e095";
}
.socicon-facebook:before {
	content: "\e028";
}
.socicon-youtube:before {
	content: "\e0a5";
}
.socicon-twitter:before {
	content: "\e08d";
}
.socicon-instagram:before {
	content: "\e044";
}

/*
========================================================================================
							spinner
=======================================================================================
*/

@keyframes spinner_spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.spin {
	animation: spinner_spin 2s linear infinite;
	font-style: normal;
	display: inline-block;
}
.spin:after {
	font-family: 'Glyphicons Halflings';
	content: "\e031";
	vertical-align: middle;
}
.spin-lg {
	padding: 3em 0;
}
.spin-lg:after {
	font-size: 5em;
}
.spin-md {
	padding: 2em 0;
}
.spin-md:after {
	font-size: 3em;
}
.spin-sm:after {
	font-size: 1.8em;
}
.spin-input {
	float: right;
	margin-left: -2em;
	margin-top: 0.2em;
	margin-right: .5em;
	font-size: 1.5em;
	padding: 0;
	display: none;
}
.spin-input-parent .spin-input {
	display: inline-block;
}
.spin-global {
	position: absolute;
	top: 35%;
	z-index: 7;
	left: 42%;
}


/*
	========================================================================================
										
	========================================================================================
*/